<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>childRen</key>
		<array>
			<dict>
				<key>childRen</key>
				<array>
					<dict>
						<key>childRen</key>
						<array>
							<dict>
								<key>childRen</key>
								<array>
									<dict>
										<key>childRen</key>
										<array>
											<dict>
												<key>childRen</key>
												<array/>
												<key>code</key>
												<integer>820000</integer>
												<key>id</key>
												<integer>3223</integer>
												<key>name</key>
												<string>即时监控11111111</string>
											</dict>
											<dict>
												<key>childRen</key>
												<array/>
												<key>code</key>
												<integer>820000</integer>
												<key>id</key>
												<integer>3223</integer>
												<key>name</key>
												<string>定时监控</string>
											</dict>
											<dict>
												<key>childRen</key>
												<array/>
												<key>code</key>
												<integer>820000</integer>
												<key>id</key>
												<integer>3223</integer>
												<key>name</key>
												<string>无监控</string>
											</dict>
										</array>
										<key>code</key>
										<integer>820000</integer>
										<key>id</key>
										<integer>3223</integer>
										<key>name</key>
										<string>增加动态监控</string>
									</dict>
									<dict>
										<key>childRen</key>
										<array/>
										<key>code</key>
										<integer>820000</integer>
										<key>id</key>
										<integer>3223</integer>
										<key>name</key>
										<string>增加动态解析</string>
									</dict>
									<dict>
										<key>childRen</key>
										<array>
											<dict>
												<key>childRen</key>
												<array/>
												<key>code</key>
												<integer>820000</integer>
												<key>id</key>
												<integer>3223</integer>
												<key>name</key>
												<string>即时上报</string>
											</dict>
											<dict>
												<key>childRen</key>
												<array/>
												<key>code</key>
												<integer>820000</integer>
												<key>id</key>
												<integer>3223</integer>
												<key>name</key>
												<string>定时上报</string>
											</dict>
											<dict>
												<key>childRen</key>
												<array/>
												<key>code</key>
												<integer>820000</integer>
												<key>id</key>
												<integer>3223</integer>
												<key>name</key>
												<string>不上报</string>
											</dict>
										</array>
										<key>code</key>
										<integer>820000</integer>
										<key>id</key>
										<integer>3223</integer>
										<key>name</key>
										<string>增加动态上报</string>
									</dict>
								</array>
								<key>code</key>
								<integer>820000</integer>
								<key>id</key>
								<integer>-9</integer>
								<key>name</key>
								<string>新功能</string>
							</dict>
							<dict>
								<key>childRen</key>
								<array>
									<dict>
										<key>childRen</key>
										<array>
											<dict>
												<key>childRen</key>
												<array>
													<dict>
														<key>childRen</key>
														<array/>
														<key>code</key>
														<integer>820000</integer>
														<key>id</key>
														<integer>3223</integer>
														<key>name</key>
														<string>红色</string>
													</dict>
													<dict>
														<key>childRen</key>
														<array/>
														<key>code</key>
														<integer>820000</integer>
														<key>id</key>
														<integer>3223</integer>
														<key>name</key>
														<string>蓝色</string>
													</dict>
												</array>
												<key>code</key>
												<integer>820000</integer>
												<key>id</key>
												<integer>3223</integer>
												<key>name</key>
												<string>纯色</string>
											</dict>
											<dict>
												<key>childRen</key>
												<array>
													<dict>
														<key>childRen</key>
														<array/>
														<key>code</key>
														<integer>820000</integer>
														<key>id</key>
														<integer>3223</integer>
														<key>name</key>
														<string>彩虹色</string>
													</dict>
													<dict>
														<key>childRen</key>
														<array/>
														<key>code</key>
														<integer>820000</integer>
														<key>id</key>
														<integer>3223</integer>
														<key>name</key>
														<string>豹纹</string>
													</dict>
												</array>
												<key>code</key>
												<integer>820000</integer>
												<key>id</key>
												<integer>3223</integer>
												<key>name</key>
												<string>彩色</string>
											</dict>
										</array>
										<key>code</key>
										<integer>820000</integer>
										<key>id</key>
										<integer>3223</integer>
										<key>name</key>
										<string>颜色更新</string>
									</dict>
								</array>
								<key>code</key>
								<integer>820000</integer>
								<key>id</key>
								<integer>-9</integer>
								<key>name</key>
								<string>新设计</string>
							</dict>
						</array>
						<key>code</key>
						<integer>130132</integer>
						<key>id</key>
						<integer>54</integer>
						<key>name</key>
						<string>产品研发</string>
					</dict>
					<dict>
						<key>childRen</key>
						<array>
							<dict>
								<key>childRen</key>
								<array>
									<dict>
										<key>childRen</key>
										<array>
											<dict>
												<key>childRen</key>
												<array/>
												<key>code</key>
												<integer>820000</integer>
												<key>id</key>
												<integer>3223</integer>
												<key>name</key>
												<string>界面</string>
											</dict>
											<dict>
												<key>childRen</key>
												<array/>
												<key>code</key>
												<integer>820000</integer>
												<key>id</key>
												<integer>3223</integer>
												<key>name</key>
												<string>内容</string>
											</dict>
										</array>
										<key>code</key>
										<integer>820000</integer>
										<key>id</key>
										<integer>3223</integer>
										<key>name</key>
										<string>维护</string>
									</dict>
									<dict>
										<key>childRen</key>
										<array>
											<dict>
												<key>childRen</key>
												<array>
													<dict>
														<key>childRen</key>
														<array/>
														<key>code</key>
														<integer>820000</integer>
														<key>id</key>
														<integer>3223</integer>
														<key>name</key>
														<string>颜色</string>
													</dict>
													<dict>
														<key>childRen</key>
														<array/>
														<key>code</key>
														<integer>820000</integer>
														<key>id</key>
														<integer>3223</integer>
														<key>name</key>
														<string>材质</string>
													</dict>
												</array>
												<key>code</key>
												<integer>820000</integer>
												<key>id</key>
												<integer>3223</integer>
												<key>name</key>
												<string>增加</string>
											</dict>
											<dict>
												<key>childRen</key>
												<array>
													<dict>
														<key>childRen</key>
														<array/>
														<key>code</key>
														<integer>820000</integer>
														<key>id</key>
														<integer>3223</integer>
														<key>name</key>
														<string>颜色</string>
													</dict>
													<dict>
														<key>childRen</key>
														<array/>
														<key>code</key>
														<integer>820000</integer>
														<key>id</key>
														<integer>3223</integer>
														<key>name</key>
														<string>材质</string>
													</dict>
												</array>
												<key>code</key>
												<integer>820000</integer>
												<key>id</key>
												<integer>3223</integer>
												<key>name</key>
												<string>修改</string>
											</dict>
										</array>
										<key>code</key>
										<integer>820000</integer>
										<key>id</key>
										<integer>3223</integer>
										<key>name</key>
										<string>需求</string>
									</dict>
								</array>
								<key>code</key>
								<integer>820000</integer>
								<key>id</key>
								<integer>3223</integer>
								<key>name</key>
								<string>用户反馈</string>
							</dict>
							<dict>
								<key>childRen</key>
								<array/>
								<key>code</key>
								<integer>820000</integer>
								<key>id</key>
								<integer>3223</integer>
								<key>name</key>
								<string>内部反馈</string>
							</dict>
						</array>
						<key>code</key>
						<integer>130133</integer>
						<key>id</key>
						<integer>55</integer>
						<key>name</key>
						<string>产品反馈</string>
					</dict>
					<dict>
						<key>childRen</key>
						<array>
							<dict>
								<key>childRen</key>
								<array>
									<dict>
										<key>childRen</key>
										<array/>
										<key>code</key>
										<integer>820000</integer>
										<key>id</key>
										<integer>3223</integer>
										<key>name</key>
										<string>小Bug</string>
									</dict>
									<dict>
										<key>childRen</key>
										<array/>
										<key>code</key>
										<integer>820000</integer>
										<key>id</key>
										<integer>3223</integer>
										<key>name</key>
										<string>重大Bug</string>
									</dict>
								</array>
								<key>code</key>
								<integer>820000</integer>
								<key>id</key>
								<integer>3223</integer>
								<key>name</key>
								<string>上报Bug</string>
							</dict>
							<dict>
								<key>childRen</key>
								<array/>
								<key>code</key>
								<integer>820000</integer>
								<key>id</key>
								<integer>3223</integer>
								<key>name</key>
								<string>日常维护</string>
							</dict>
						</array>
						<key>code</key>
						<integer>130181</integer>
						<key>id</key>
						<integer>56</integer>
						<key>name</key>
						<string>产品修正</string>
					</dict>
					<dict>
						<key>childRen</key>
						<array>
							<dict>
								<key>childRen</key>
								<array/>
								<key>code</key>
								<integer>820000</integer>
								<key>id</key>
								<integer>3223</integer>
								<key>name</key>
								<string>更新图形详情</string>
							</dict>
							<dict>
								<key>childRen</key>
								<array/>
								<key>code</key>
								<integer>820000</integer>
								<key>id</key>
								<integer>3223</integer>
								<key>name</key>
								<string>更新语音播报</string>
							</dict>
						</array>
						<key>code</key>
						<integer>130183</integer>
						<key>id</key>
						<integer>57</integer>
						<key>name</key>
						<string>产品更新</string>
					</dict>
				</array>
				<key>code</key>
				<integer>130100</integer>
				<key>id</key>
				<integer>36</integer>
				<key>name</key>
				<string>产品部</string>
			</dict>
			<dict>
				<key>childRen</key>
				<array>
					<dict>
						<key>childRen</key>
						<array>
							<dict>
								<key>childRen</key>
								<array>
									<dict>
										<key>childRen</key>
										<array/>
										<key>code</key>
										<integer>130225</integer>
										<key>id</key>
										<integer>69</integer>
										<key>name</key>
										<string>电话客服A</string>
									</dict>
									<dict>
										<key>childRen</key>
										<array/>
										<key>code</key>
										<integer>130225</integer>
										<key>id</key>
										<integer>69</integer>
										<key>name</key>
										<string>电话客服B</string>
									</dict>
									<dict>
										<key>childRen</key>
										<array/>
										<key>code</key>
										<integer>130225</integer>
										<key>id</key>
										<integer>69</integer>
										<key>name</key>
										<string>电话客服C</string>
									</dict>
								</array>
								<key>code</key>
								<integer>130225</integer>
								<key>id</key>
								<integer>69</integer>
								<key>name</key>
								<string>电话客服</string>
							</dict>
							<dict>
								<key>childRen</key>
								<array>
									<dict>
										<key>childRen</key>
										<array/>
										<key>code</key>
										<integer>130225</integer>
										<key>id</key>
										<integer>69</integer>
										<key>name</key>
										<string>网络客服A</string>
									</dict>
									<dict>
										<key>childRen</key>
										<array/>
										<key>code</key>
										<integer>130225</integer>
										<key>id</key>
										<integer>69</integer>
										<key>name</key>
										<string>网络客服B</string>
									</dict>
									<dict>
										<key>childRen</key>
										<array/>
										<key>code</key>
										<integer>130225</integer>
										<key>id</key>
										<integer>69</integer>
										<key>name</key>
										<string>网络客服C</string>
									</dict>
									<dict>
										<key>childRen</key>
										<array/>
										<key>code</key>
										<integer>130225</integer>
										<key>id</key>
										<integer>69</integer>
										<key>name</key>
										<string>网络客服D</string>
									</dict>
									<dict>
										<key>childRen</key>
										<array/>
										<key>code</key>
										<integer>130225</integer>
										<key>id</key>
										<integer>69</integer>
										<key>name</key>
										<string>网络客服E</string>
									</dict>
									<dict>
										<key>childRen</key>
										<array/>
										<key>code</key>
										<integer>130225</integer>
										<key>id</key>
										<integer>69</integer>
										<key>name</key>
										<string>网络客服F</string>
									</dict>
									<dict>
										<key>childRen</key>
										<array/>
										<key>code</key>
										<integer>130225</integer>
										<key>id</key>
										<integer>69</integer>
										<key>name</key>
										<string>网络客服G</string>
									</dict>
									<dict>
										<key>childRen</key>
										<array/>
										<key>code</key>
										<integer>130225</integer>
										<key>id</key>
										<integer>69</integer>
										<key>name</key>
										<string>网络客服H</string>
									</dict>
									<dict>
										<key>childRen</key>
										<array/>
										<key>code</key>
										<integer>130225</integer>
										<key>id</key>
										<integer>69</integer>
										<key>name</key>
										<string>网络客服I</string>
									</dict>
								</array>
								<key>code</key>
								<integer>130225</integer>
								<key>id</key>
								<integer>69</integer>
								<key>name</key>
								<string>网络客服</string>
							</dict>
							<dict>
								<key>childRen</key>
								<array/>
								<key>code</key>
								<integer>130225</integer>
								<key>id</key>
								<integer>69</integer>
								<key>name</key>
								<string>其他</string>
							</dict>
						</array>
						<key>code</key>
						<integer>130207</integer>
						<key>id</key>
						<integer>64</integer>
						<key>name</key>
						<string>客服</string>
					</dict>
					<dict>
						<key>childRen</key>
						<array>
							<dict>
								<key>childRen</key>
								<array/>
								<key>code</key>
								<integer>130225</integer>
								<key>id</key>
								<integer>69</integer>
								<key>name</key>
								<string>网络编辑A</string>
							</dict>
							<dict>
								<key>childRen</key>
								<array/>
								<key>code</key>
								<integer>130225</integer>
								<key>id</key>
								<integer>69</integer>
								<key>name</key>
								<string>网络编辑B</string>
							</dict>
							<dict>
								<key>childRen</key>
								<array/>
								<key>code</key>
								<integer>130225</integer>
								<key>id</key>
								<integer>69</integer>
								<key>name</key>
								<string>网络编辑C</string>
							</dict>
						</array>
						<key>code</key>
						<integer>130208</integer>
						<key>id</key>
						<integer>65</integer>
						<key>name</key>
						<string>编辑</string>
					</dict>
					<dict>
						<key>childRen</key>
						<array/>
						<key>code</key>
						<integer>130209</integer>
						<key>id</key>
						<integer>66</integer>
						<key>name</key>
						<string>数据录入</string>
					</dict>
					<dict>
						<key>childRen</key>
						<array/>
						<key>code</key>
						<integer>130223</integer>
						<key>id</key>
						<integer>67</integer>
						<key>name</key>
						<string>数据分析</string>
					</dict>
					<dict>
						<key>childRen</key>
						<array/>
						<key>code</key>
						<integer>130224</integer>
						<key>id</key>
						<integer>68</integer>
						<key>name</key>
						<string>活动推广</string>
					</dict>
					<dict>
						<key>childRen</key>
						<array/>
						<key>code</key>
						<integer>130225</integer>
						<key>id</key>
						<integer>69</integer>
						<key>name</key>
						<string>组件策划</string>
					</dict>
					<dict>
						<key>childRen</key>
						<array/>
						<key>code</key>
						<integer>130281</integer>
						<key>id</key>
						<integer>72</integer>
						<key>name</key>
						<string>其他</string>
					</dict>
				</array>
				<key>code</key>
				<integer>130200</integer>
				<key>id</key>
				<integer>59</integer>
				<key>name</key>
				<string>运营部</string>
			</dict>
		</array>
		<key>code</key>
		<integer>130000</integer>
		<key>id</key>
		<integer>35</integer>
		<key>name</key>
		<string>子公司A</string>
	</dict>
	<dict>
		<key>childRen</key>
		<array>
			<dict>
				<key>childRen</key>
				<array>
					<dict>
						<key>childRen</key>
						<array/>
						<key>code</key>
						<integer>141081</integer>
						<key>id</key>
						<integer>333</integer>
						<key>name</key>
						<string>业务员</string>
					</dict>
					<dict>
						<key>childRen</key>
						<array/>
						<key>code</key>
						<integer>141082</integer>
						<key>id</key>
						<integer>334</integer>
						<key>name</key>
						<string>区域总监</string>
					</dict>
				</array>
				<key>code</key>
				<integer>141000</integer>
				<key>id</key>
				<integer>317</integer>
				<key>name</key>
				<string>销售部</string>
			</dict>
			<dict>
				<key>childRen</key>
				<array>
					<dict>
						<key>childRen</key>
						<array/>
						<key>code</key>
						<integer>141124</integer>
						<key>id</key>
						<integer>340</integer>
						<key>name</key>
						<string>临时工</string>
					</dict>
					<dict>
						<key>childRen</key>
						<array/>
						<key>code</key>
						<integer>141125</integer>
						<key>id</key>
						<integer>341</integer>
						<key>name</key>
						<string>生产队队长</string>
					</dict>
					<dict>
						<key>childRen</key>
						<array/>
						<key>code</key>
						<integer>141126</integer>
						<key>id</key>
						<integer>342</integer>
						<key>name</key>
						<string>生产队员工</string>
					</dict>
					<dict>
						<key>childRen</key>
						<array/>
						<key>code</key>
						<integer>141130</integer>
						<key>id</key>
						<integer>346</integer>
						<key>name</key>
						<string>监事</string>
					</dict>
				</array>
				<key>code</key>
				<integer>141100</integer>
				<key>id</key>
				<integer>335</integer>
				<key>name</key>
				<string>生产部</string>
			</dict>
		</array>
		<key>code</key>
		<integer>140000</integer>
		<key>id</key>
		<integer>218</integer>
		<key>name</key>
		<string>子公司B</string>
	</dict>
	<dict>
		<key>childRen</key>
		<array>
			<dict>
				<key>childRen</key>
				<array>
					<dict>
						<key>childRen</key>
						<array/>
						<key>code</key>
						<integer>820000</integer>
						<key>id</key>
						<integer>3223</integer>
						<key>name</key>
						<string>对外协商</string>
					</dict>
				</array>
				<key>code</key>
				<integer>820000</integer>
				<key>id</key>
				<integer>-9</integer>
				<key>name</key>
				<string>公关</string>
			</dict>
		</array>
		<key>code</key>
		<integer>820000</integer>
		<key>id</key>
		<integer>-10</integer>
		<key>name</key>
		<string>子公司C</string>
	</dict>
</array>
</plist>
